.carousel-item img {
    max-height: 500px; /* Establece la altura deseada para todas las imágenes */
}

.card-img-top {
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit:contain; /* Ajustar imagen para llenar el contenedor */
}

.custom-margin {
    margin-top: 20px; 
}

.background-container {
    background-image: url('https://i.pinimg.com/564x/11/fe/1a/11fe1a50209fdc2ed171d31e9db6e22c.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Cubre todo el contenedor */
    opacity: 0.5; /* Cambia este valor para ajustar la opacidad */
    position: fixed; /* Fija la posición para que cubra toda la ventana */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el contenedor detrás de otros elementos */
}